//Basic typography styles for body text
@use "../abstracts" as *;
html {
  font-size: 1.1rem;

  @include max(medium) {
    font-size: 1rem;
  }
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
